.map-container-6{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-container-6 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

h2 {
    color: darkblue !important;
}
.username {
    margin: -14px;
    margin-top: 5px;

}


