{% extends "base.html" %}

{% block content %}


    <form action="/search/" method="GET" style="text-align: center;">
        {% csrf_token %}
        <input type="text" name="name">
        <input type="submit" name="submit" value="Search">
    </form>



    {% for result in results %}

        <p>{{item_name}}</p>

    {% endfor %}






            <div class="container-fluid ">
                {% for item in item_list%}
            <div class="row row-cols-1 row-cols-md-3" style="display: inline-flex">


            <div class="col mb-4">
                <div class="card">
                    <a href="{% url 'viewer:product' pk=item.id %}"><img src="{{ item.image.url }}" class="card-img-top" alt="Tu ma byt obrazok" style="height: 250px;width: 350px"></a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a href="{% url 'viewer:product' pk=item.id %}">{{ item.item_name }}</a>
                        <p class="card-text">Price: {{ item.price }} CZK</p>
                    </div>
                </div>
            </div>



        </div>
                {% endfor %}
        </div>



{% endblock %}